.bannerContent {
  background-image: url(../../media/bannerHome.png);
  position: absolute;
  top: 171px;
  left: 100px;
  width: 1240px;
  height: 223px;
  border-radius: 25px;
  mix-blend-mode: darken;
  z-index: -1;
  .title {
    position: absolute;
    width: 705px;
    height: 68px;
    top: 78px;
    left: 273px;
    color: $color-6;
    font-weight: 500;
    font-size: 48px;
    line-height: 68px;
    z-index: 1;
  }
}
// version mobile
@media screen and (min-width: 200px) and (max-width:395px) {
  .bannerContent {
    background-image: url(../../media/bannerHomeMobile.png);
    top: 83px;
    left: 20px;
    width: 335px;
    height: 111px;
    border-radius: 10px;
    .title {
      width: 185px;
      height: 48px;
      top: 31px;
      left: 16px;
      font-size: 24px;
      line-height: 24px;
    }
  }
}
// version tablette
@media screen and (min-width: 396px) and (max-width: 840px) {
  .bannerContent {
    background-image: url(../../media/bannerHome.png);
    top: 115px;
    left: 50px;
    width: 740px;
    height: 160px;
    border-radius: 15px;
    .title {
      width: 320px;
      height: 48px;
      top: 67px;
      left: 178px;
      font-size: 24px;
      line-height: 24px;
      color: $color-5;
    }
  }
}
