.carousel {
    width: 1240px;
    height: 415px;
    border-radius: 25px;

    .carouselContainer {
        position: absolute;
        top: 128px;
        left: 100px;
        width: 1240px;
        height: 415px;
        border-radius: 25px;
        display: flex;
        flex-direction: row;

        .iconeContent {
            position: relative;

            i {
                font-size: 79px;
                color: $color-8;

                .fas .fa-chevron-left {
                    position: absolute;
                    top: 156px;
                    left: 23px;
                    z-index: 1;
                }

                .fas .fa-chevron-right {
                    position: absolute;
                    top: 156px;
                    right: 23px;
                    z-index: 1;
                }
            }
        }

        .imgContent {
            position: absolute;
            width: 1240px;
            height: 415px;
            border-radius: 25px;

            .imageCarousel {
                width: 1240px;
                height: 415px;
                border-radius: 25px;

                img {
                    position: absolute;
                    top: 128px;
                    left: 100px;
                    width: 1240px;
                    height: 415px;
                    border-radius: 25px;
                }
            }

            .imageNumber {
                width: 24px;
                height: 32px;
                font-size: 18px;
                color: $color-8;

            }
        }
    }
}