.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
  height: 415px;
  border-radius: 25px;
    .carouselContainer {
      width: 1240px;
      height: 415px;
      border-radius: 25px;
      display: flex;
      flex-direction: row;
      .iconeContent {
        position: absolute;
        top: 156px;
        display: flex;
        align-items: center;
        justify-content: center;
          span {
            font-size: 79px;
            color: $color-8;
            z-index: 1;
            .fa-chevron-left {
              position: absolute;
              left: 23px;
            }
            .fa-chevron-right {
              position: absolute;
              left: 1160px;
            }
          }
      }
      .imgContent {
        position: relative;
        width: 1240px;
        height: 415px;
        border-radius: 25px;
        img {
          width: 1240px;
          height: 415px;
          border-radius: 25px;
          object-position: center;
          object-fit: cover;
          .imageActive {
            width: 1240px;
            height: 415px;
            border-radius: 25px;
            opacity: 1;
            transition: 1s;
            transform: scale(1.08);
          }
          .image {
            opacity: 0;
            transition: 1s ease;
            z-index: -1;
          }
        }
        .imageNumber {
          position: absolute;
          top: 357px;
          left: 607px;
          width: 24px;
          height: 32px;
          font-size: 18px;
          color: $color-8;
        }
      }
    }
}

@media screen and (min-width: 200px) and (max-width:395px) {
  .carousel {
    width: 335px;
    height: 255px;
    border-radius: 10px;
    .carouselContainer {
      width: 335px;
      height: 255px;
      .iconeContent {
        top: 118px;
        span {
          font-size: 20px;
          .fa-chevron-left {
            left: 6px;
          }
          .fa-chevron-right {
            left: 299px;
          }
        }
      }
      .imgContent {
        width: 335px;
        height: 255px;
        border-radius: 10px;
        img {
          width: 335px;
          height: 255px;
          border-radius: 10px;
          .imageActive {
            width: 335px;
            height: 255px;
            border-radius: 10px;
          }
        }
        .imageNumber {
          top: 238px;
          left: 166px;
          font-size: 12px;
        }
      }
    }
  }
}
