.footer {
  position: absolute;
  top: 3315px;
  left: 0px;
  width: 1440px;
  height: 209px;
  background: $color-7;
  max-width: auto;
  img {
    width: 122px;
    height: 40px;
    position: absolute;
    left: 659px;
    top: 66px;
    color: $color-6;
  }
  .copyright {
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: $color-6;
    font-size: 24px;
    line-height: 34px;
    font-weight: 500;
    font-style: normal;
    position: absolute;
    width: 513px;
    height: 46px;
    left: 463px;
    top: 134px;
    i {
      color: $color-6;
      position: absolute;
      top: 11px;
      left: 65px;
    }
    p {
      color: $color-6;
    }
  }
}
// version mobile
@media screen and (min-width: 200px) and (max-width:395px) {
  .footer {
    width: 375px;
    height: 209px;
    img {
      width: 122px;
      height: 39px;
      left: 127px;
      top: 62px;
    }
    .copyright {
      font-size: 12px;
      line-height: 17px;
      left: -69px;
      top: 101px;
      i {
        left: 160px;
        top: 18px;
      }
    }
  }
}
// version tablette
@media screen and (min-width: 396px) and (max-width:840px) {
  .footer {
    width: 840px;
    height: 185px;
    img {
      width: 111px;
      height: 39px;
      left: 332px;
      top: 58px;
    }
    .copyright {
      font-size: 16px;
      line-height: 17px;
      left: 128px;
      top: 107px;
      i {
        left: 126px;
        top: 14px;
      }
    }
  }
}
