.header {
  position: absolute;
  width: 1240px;
  height: 68px;
  left: 100px;
  top: 40px;
  display: flex;
  flex-direction: row;
  .logo {
    position: absolute;
    img {
      width: 210px;
      height: 68px;
    }
  }
  .navigation {
    position: absolute;
    width: 309px;
    height: 34px;
    top: 34px;
    left: 980px;
    display: flex;
    text-align: right;
    align-items: flex-end;
    font-size: 24px;
    ul {
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;
      .nav-active {
        text-decoration: underline;
        color: $color-1;
      }
      .nav-inactive {
        text-decoration: none;
        color: $color-1;
      }
      li {
        a {
          text-decoration: none;
          padding: 10px;
          line-height: 34px;
          color: $color-1;
          font-family: $font-1;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          cursor: pointer;
          transition: 0.2s;
        }
      }
    }
  }
}
// version mobile
@media screen and (min-width: 200px) and (max-width:395px) {
  .header {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 335px;
    height: 47px;
    .logo {
      position: absolute;
      img {
        width: 145px;
        height: 47px;
      }
    }
    .navigation {
      width: 140px;
      height: 17px;
      top: 18px;
      left: 216px;
      right: 20px;
      font-size: 12px;
      ul {
        li {
          a {
            font-size: 12px;
            padding: 5px;
          }
        }
      }
    }
  }
}
// version tablette
@media screen and (min-width: 396px) and (max-width: 840px) {
  .header {
    position: absolute;
    top: 40px;
    left: 50px;
    max-width: 840px;
    height: 47px;
    .logo {
      position: absolute;
      img {
        width: 138px;
        height: 47px;
      }
    }
    .navigation {
      width: 140px;
      height: 17px;
      top: 7px;
      left: 534px;
      right: 20px;
      font-size: 18px;
      ul {
        li {
          a {
            font-size: 16px;
            padding: 5px;
          }
        }
      }
    }
  }
}
