.tag {
    width: auto;
    height: 25px;

    .tag-text {
        width: auto;
        height: 20px;
        background: $color-1;
            border-radius: 10px;
            span {
            color: $color-8;
            font-weight: 500;
            font-size: 14px;
            line-height: 10px;
        }
    }
}